<div class="wrapper">
  <div id="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#pablo">{{ appTitle }}</a>
        </div>
        <div class="navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click) = "logOut()">
                LOGOUT
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title d-inline"> Employee Table</h4>
              <div class="input-group no-border col-lg-3 col-xs-3 pull-right" style = "padding-left: 0px !important;padding-right: 0px !important">
                  <input type="text" [(ngModel)] = 'search' class="form-control" placeholder="Search...">
                  <div class="input-group-append" (click)="onSearch()">
                    <div class="input-group-text">
                      <i class="now-ui-icons ui-1_zoom-bold"></i>
                    </div>
                  </div>
              </div>
              <div class="input-group no-border col-lg-3 col-xs-3 pull-right" style = "padding-left: 0px !important;padding-left: 0px !important">
                <select class = "form-control input-group-text" [(ngModel)] = 'status' (input)="onSearchChange()" >
                  <option style = "color:black" value = "">---Select Status---</option>
                  <option style = "color:black" value = "true" >ACTIVE</option>
                  <option style = "color:black" value = "false" >IN-ACTIVE</option>
                </select>
              </div>
            </div>
            <div class="card-body">
              <button (click) = "createInfo()" class = "btn btn-primary pull-right"><i class="now-ui-icons ui-1_simple-add"></i></button>
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      User Id
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Clock In Time
                    </th>
                    <th>
                      Clock Out Time
                    </th>
                    <th class="text-center">
                      Status
                    </th>
                    <th class="text-right">
                      Action
                    </th>
                  </thead>
                  <tbody>
                    <tr [hidden] = "showPage">
                      <td colspan = 6 class = "text-center" >
                        Loading...!
                      </td>
                    </tr>
                    <tr *ngFor="let employee of employees" [hidden] = "!showPage">
                      <td>
                        {{ employee.user_id }}
                      </td>
                      <td>
                        {{ employee.name_of_employee }}
                      </td>
                      <td>
                        {{ fixDate(employee.clock_in_time) }}
                      </td>
                      <td>
                        {{ fixDate(employee.clock_out_time) }}
                      </td>
                      <td class="text-center">
                        <div [className] = "employee.active ? 'alert-success' : 'alert-danger'">
                          <b>{{ (employee.active) ? 'Active' : 'In Active' }}</b>
                        </div>
                      </td>
                      <td class="text-right">
                        <button (click)= "onUpdate(employee.user_id)" class = "btn btn-warning" style = "margin-right: 1em"><i class="now-ui-icons design_scissors"></i></button> <button (click)= "onDelete(employee.user_id)" class = "btn btn-danger" ><i class="now-ui-icons ui-1_simple-delete"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ngb-pagination
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"
                  (pageChange) = "pageNumber($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav>
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="http://presentation.creative-tim.com">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script>, Designed by
          <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
      </div>
    </footer>
  </div>
</div>
